$colorDeFondo1:#E6DDC4;
$colordeFondo2:#3A3A49;
$colorFormulario:#ff851b;
$colorOfertaCat:#ec3a3a;
$colorOfertCatA:#754e2a;
$colorSpanP:#9D7857;
$colorLetraSpanP:#171b24;
$colorFormTitle:#f5f0ec;
$colorContenedorForm:rgba(0,0,0,.6);
$colorBtnSubmit:#5b49fc;
